body{
    background-image: url(background1.png);
    background-size: 100%;
}


b{
    font-family: 'VT323', monospace;
    color: black;
    font-size: 5em;
}

p{
    font-size: 10em;
    font-family: 'VT323', monospace;
    margin-top: 50px;


}

div#game{
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 900px;
    width: 1050px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    justify-content: center;
}

div#game canvas{
    padding: 0;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#scorebox{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    width: 325px;
}

#highscorebox{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 400px;
    width: 325px;
}