body {
    margin: 0;
}


.headerdiv{
    background-position-y: -10px;
    height: 200px;
    background: black;

}

.maintitle{
    position: absolute;
    text-align: center;

}


.topnav{
    background-image: url(new-york-city-skyline-panorama-m.jpg);
    background-position-y: 300px;
    color: grey;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    
}

header{
    overflow: hidden;
    background-image: url(new-york-city-skyline-panorama-m.jpg);
    text-align: center;
    font-size: 3em;
    justify-content: center;
    display: flex;

}

.topnav a{
    float: left;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 206px;
}

.topnav a:hover{
    background-color: whitesmoke;
    color: black;
}

.topnav a.active {
    background-color: green;
}

a:h1{
    text-shadow: 10px 10px;
    text-decoration: none;


}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px grey;
    font-style: italic;
    color: rgb(51, 180, 212);
    font-size: 50px;
    text-align: center;  
}



h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: brown;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: Comic Sans MS;
    color: rgb(0, 0, 0);
}


